
	.header{
		grid-area: header;
		background-color: red;
		height: 70px;
	}

	.menu{
		grid-area: menu;
		background-color: blue;
		height: 300px;
	    width: 120px;
	}

	.main{
		grid-area: main;
		background-color: green ; 
		width: 1300px;
	}

	.menuBar{
		grid-area: menuBar;
		background-color: black ; 
		width: 1400px;
	}

	.footer {
		grid-area: footer;
		background-color: yellow ; 
		width: 1300px;
	}

	.grid-container {
		display: grid;
		grid-template-areas:
			'header header header'
			'menuBar  menuBar  menuBar'
			'menu main main'
			'menu main main'
			'menu footer footer';
	}


	.grid-container > div{
		text-align: left;
		padding: 20px;
		font-size: 12px;
		color: white;
	}
